<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/nav.ejs')%>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body class = "">
    <!--Left panel showing something-->
    <!--Job posting form-->
    <form class="job-form" action="/displayPostList" method="POST" >
        <label for="job-title">Job Title</label>
        <input type="text" name="job_title" id="job-title" class = "form-control" placeholder="Enter job title" required autofocus><br>
        <label for="cars">Job Type</label>
        <select name="jobType" >
            <option value="internship">Internship</option>
            <option value="fullTime">Full Time</option>
            <option value="partTime">Part Time</option>
          </select><br>
        <label for="job-description">Job Description</label>
        <br><textarea class = "form-control" name="job_description" id="job-description" cols="50" rows="10" placeholder="Enter job description"></textarea><br>
        <button type="submit" class="btn btn-lg btn-primary">Publish</button>
    </form>
    <style>
       body form{
           padding:3em;
           margin: 3em;
           border: 1em solid black;
           padding: 2em;
           width:40%;
           margin-top: 5em;
           margin-left: 25em;
           background-color: #faebd7;
           border-radius: 20px;
           border:none;
           box-shadow: 4px 4px #888888;
       }

       body form input{
           box-shadow: 2px 4px #888888;
           border-radius: 20px;
       }

       body form textarea{
           box-shadow: 2px 4px #888888;
           border-radius: 20px;
       }

       #job-description{
           width:100%;
       }
       body form label{
           font-size: 2rem;
           font-weight: bold;
           padding: 0.2em;   
       }
       body form label:hover{
           color:navy;
       }
       .job-form button{
           position: relative;
           margin-left: 25%;
           height:3em;
           width:50%;
           box-shadow: 2px 4px red;
           font-size: 1.5em;
           font: bold;
           border-radius: 20px;


       }


    </style>
   


    
</body>
</html>