<div action = "/" class="login-form">
    <form action="" method="post">
        <input type="text" placeholder="username" name="username">
        <input type="password" placeholder="password" name="pwd"><br>
        <button>LOGIN</button>
    </form>
    <style>
        body{
            font-family:'Courier New', Courier, monospace;
        }
        h1{
            border-bottom: solid black;
            padding: 0.5em;
        }
        div.login-form{
            width: 50%;
            margin:0.5em auto;
            border-bottom: solid gray;
        }
        div.signup-form{
            margin:2em auto;
        }
        div input {
            border-top: none;
            border-left: none;
            border-right: none;
            font-size: large;
            margin: 0.5em auto;
            height: 2em;
            
        }
        div input:hover{
            border-bottom:solid lightcoral;
        }
        div button{
            background-color: red;
            color: white;
            font-size:medium;
            border:none;
            font-weight: bolder;
            margin: 1.5em auto;
            height:3em;
            width:10em;
            
        }
        div button:hover{
            background-color: red;
            color: white;
            box-shadow: 4px 4px lightgray;
        }
        div.login-signup{
            max-width: 100%;
            padding: 3em;
        }
        select{
            border-top: none;
            border-left: none;
            border-right: none;
            background-color: white;
            font-size: large;
            margin: 1em auto;
            height: 3em;
            width:14em;
        }
        select:hover{
            border-bottom:solid lightcoral;
        }
        label{
            margin:2em;
            font-size: larger;
        }
        
    </style>
</div>