<div action = "/" class="signup-form">
    <form action="" method="post">
        <input type="text" placeholder="First Name" name="fname">
        <input type="text" placeholder="Last Name" name="lname"><br>
        <input type="email" placeholder="eg:xyz@gmail.com" name="email">
        <input type="password" placeholder="password" name="pwd"><br>
        <label> User Type</label>
        <select name="userType" >
            <option>Recruiter</option>
            <option>Applicant</option>
        </select><br>
        <button>SIGNUP</button>
    </form>
</div>