<html>
    <body>
        <h4>Upload a file to remote server to compile and execute:</h4>
       <ul>
       <form action="/parse" method="post" enctype="multipart/form-data">
        <input class="btn btn-sm btn-warning" type="file" name="resume">
        <input class="btn btn-sm btn-success" type="submit" value="Submit" > 
      </form> 
      </ul>
    </body>
</html>