<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/createPost" ><h1>Resume Parser</h1></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <!--Home html page link
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <!earch Jobs Page
          <a class="nav-link" href="#">Jobs</a>  link to another html page-->
        </li>
        <li class="nav-item" style="font-size: large; font-weight: bolder; color: white;">
          <a class="nav-link" href="/" role="button" style="margin-left: 55em " >
            Logout
          </a>
        </li>
      </ul>
     <!--- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search for jobs" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      -->
    
    </div>
  </nav>